body{
    margin: 0px;
}
.green-line{
    height: 10px;
    background-color: #117050;
}


/* 
.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: ;
    font-style: normal;
}
*/

/*.open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
} 
*/