body{
    margin: 0px;
    font-family: 'Open Sans',sans-serif;
}

.green-line{
    height: 10px;
    background-color: #117050;
    width: 100%;
}
.container-logo-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 100%;
    position: relative;
}

.header-logo-left img{
    margin-left: 20px;
    height: 64px;
    width: 64px;
}
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.header-right form{
    display: flex;
    align-items: center;
}
.header-right #inputSearch{
    font-size: 16px;
    outline: 0;
    padding: 7px 10px;
    border: 1px solid #999999;
    background-color: transparent;
    width: 100%;
    max-width: 220px;
    height: 36.4px;
}

.header-right button{
    border:0;
    background: transparent;
    margin-left: -30px ;
    cursor: pointer;
}
.header-right button img{
    width: 16px;
    height: 16px;
}

.header-right-menu{
    margin-left: 50px;
    width: 24px;
    height: 24px;
}
.header-right-menu img{
    width: 24px;
    height: 24px;
}
.banner-container{
    background-image: url("../Img/bg.jpg");
    background-position: 50% 50%;
    background-size: cover;
    object-fit: cover;
    padding-top: 80px;
    padding-bottom: 60px;
}
.posicao{
    margin-left: 160px;
}
.texto-title-banner{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
    word-wrap: break-word;
    font-size: 6rem;
}
.texto-body-banner{
    word-wrap: break-word;
    margin-top: 40px;
    margin-bottom: 60px;
}
.imgs-coffe1{
    width: 130px;
    height: 130px;
    margin-left: 5px;
    border: 7px solid #117050;
    border-radius: 50%;
}
.imgs-coffe2{
    width: 130px;
    height: 130px;
    margin-left: 30px;
    border: 7px solid #117050;
    border-radius: 50%;
}
.imgs-coffe3{
    width: 130px;
    height: 130px;
    margin-left: 30px;
    border: 7px solid #117050;
    border-radius: 50%;
}
.banner-drinks{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row: repeat(2,1fr) 100px 100px;
    width: 100%;
    height: 70%;

}.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centralizar{
    align-self:center;
    margin-left: 10%;
    padding-left: 20px;
    
}
.green-Bar{
    margin-top: 10%;;
    background-color: #006341;
    width: 139px;
    height: 22px;
}
.content-text{

    margin-top: -4%;
    grid-row: 1;
    word-wrap: break-word;
    line-height: 1.6;
    
}
.content-text h1{
    color: #111111;
    font-size: 36px;
    font-family: "Oswald", sans-serif;
    line-height: 1.6;
}
.content-text blockquote {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-style: italic;
    color: #111111;
    word-wrap: break-word;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: -01px;
}
.content-text p{
    width: 80%;
    padding-right: 10%;
}
.learnMore{
    margin-top:30px;
    margin-bottom: 30px;
    width: 155.59px;
    height: 45.6px;
    border-radius: 3px;
    border-color: #454545;
    color: #454545;
    background-color: white;
    font-size: 1rem;
    letter-spacing: 1px
}
.learnMore:hover{
    background-color:#454545 ;
    color: #eeeeee;
}
.content2{
    display: flex;
    flex: 1;
    grid-column-start: 2;
    grid-row: 1 / 3;
}
.content2 img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}

.content3 img{
    object-fit: contain;
    width: 100%;
    height: 101%;
}
.banner-drinks-Vanilla{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.content1-Vanilla{
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
}
.content1-Vanilla img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.content2-Vanilla {
    width: 70%;
    height: 60%;
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: left;
    grid-column-start: 2;
}
.centralizar-Vanilla{
    margin-top: 15%;
    margin-left: 25%;
}
.responsividade{

}
.content2-Vanilla{

    margin-top: -4%;
    grid-row: 1;
    word-wrap: break-word;
    line-height: 1.6;
    
}
.content2-Vanilla h1{
    color: #111111;
    font-size: 36px;
    font-family: "Oswald", sans-serif;
    line-height: 1.6;
}
.content3-Vanilla{
    grid-column-start: 2;
    grid-row-start: 2;

}
.content3-Vanilla img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.banner-drinks-Ultra-Caramel{
    display: grid;
    width: 100%;
    height: 70%;
    grid-template-columns: repeat(2,1fr);
}
.content-Ultra-Caramel-text{
    padding-top: 25%;
    padding-left: 20%;

}
.area1{
    background-image: url("../Img/bg2.jpg");
    background-position:left ;
    background-size:cover ;
}
.content-Ultra-Caramel-text h1{
    color: #111111;
    font-size: 36px;
    font-family: "Oswald", sans-serif;
    line-height: 1.3;
}
.content-Ultra-Caramel-text p{
    padding: auto;
    word-wrap: break-word;
    line-height: 1.6;
    width: 70%;
}
.content-Ultra-Caramel-text button{
    background-color: transparent;
}
.content-Ultra-Caramel-img{
    width: 100%;
}
.content-Ultra-Caramel-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.areaKind{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 100%;

}
.espacamento{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    background-color: #e8e9ee;  /*TODO  a cor vai ter que ser alterada*/
    grid-column-start: 1;
    padding-left: 10%;

}
.areaKind-text{
    word-wrap: break-word;
    width: 70%;
    height: 40%;
}
.areaKind-img{
    width: 100%;

    grid-column-start: 2;
    background-image: url("../Img/bg3.jpg");
    background-position: right;
    background-size: cover;
}
.areaKind .learnMore{
    margin-top: 10%;
}
.last-area{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    background-color: #e8e9ee;
}
.last-area img{
    object-fit: cover;
    width: 70%;
}
.rodape{

    background-color: #333333;
    color: #ffffff;
}
.alinhamentoRodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0px;
    gap: 90px 50px;
}
.referenciaSite{
    padding-bottom: 5%;
}
.rodape a{
    color:#a8f8dd;
}
.rodape p{
    padding-top: 3%;
}


@media (max-width: 700px) {
    .banner-drinks {
        grid-template-columns: 400px repeat(1, 1fr);
    }
    .responsividade{
        display: flex;
        flex-direction: column;
        margin-left: -25%;
        padding-left: 30%;
    }
    .posicao{
        margin-left: 10px;
    }
    .imgs-coffe1{
        width: 100px;
        height: 100px;
    }
    .imgs-coffe2{
        width: 100px;
        height: 100px;
    }
    .imgs-coffe3{
        width: 100px;
        height: 100px;
    }

}
@media (max-width:1062px){
    .content2-Vanilla h1 {
        height: auto;
        width: 260px;
    }
    .content2-Vanilla p{
        width: 260px;
    }
}
@media (max-width:675px){
    .responsividade{
        padding-right: 50px;
    }
    .espacamento .green-Bar{
        margin-top: 10px;
    }
    .areaKind-text{
        height: 80%;
    }
}
@media (min-width:675px){
    .espacamento .green-Bar{
        margin-top: 10%;
    }
    .areaKind-text{
        height: 60%;
    }
}
/** 
    TODO Refatorar a classe content2-Vanilla
*/

/* 
.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: ;
    font-style: normal;
}
*/

/*.open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
} 
*/